services:
  webserver:
    build: .
    ports:
      - "8000:80"
      - "8443:443"
      - "8025:8025"
    volumes:
      - ./website/:/sites/localhost/html/public/
      - ./docker/etc/:/docker/etc/
    depends_on:
      - db

  db:
    image: mysql:latest
    env_file: .env.dev
    ports:
      - "3306:3306"
    volumes:
      - ./docker/data/conf.d:/etc/mysql/conf.d
      - ./docker/data/logs:/logs
      - ./db:/docker-entrypoint-initdb.d
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "8081:80"
    depends_on:
      - db

volumes:
  db_data:
